<%- include('../includes/header.ejs', {
    title: `File explorer ${currentPath} - Sefinek Blocklist Collection`,
    meta: {
        desc: `Explore static directory (${currentPath}) of markdown files.`,
        tags: 'markdown explorer, sefinek explorer, view files, view markdown files, sefinek all markdown files',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: currentPath,
    subpage: 'markdown',
    libs: null,
    style: 'explorer'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1>Index of <%= currentPath %></h1>
        <button id="toggleWidthButton">Toggle table width</button>
        <button id="toggleCompactModeButton">Compact mode</button>
        <button id="reloadPage">🔃 Reload page</button>
    </header>
</div>

<main>
    <div class="container-box">
        <table id="table" style="width:100%">
            <tbody>
            <% if (currentPath !== '/markdown') { %>
                <tr>
                    <td>
                        <a href="<%= currentPath.replace(/\/$/, '').split('/').slice(0, -1).join('/') %>/" style="color:blue">
                            <img src="/images/flaticon/back.png" class="link-img"> ../
                        </a>
                    </td>
                    <td class="time"></td>
                    <td class="size"></td>
                </tr>
            <% } %>
            <% files.forEach(file => { %>
                <tr>
                    <td class="link">
                        <a href="<%= currentPath.replace(/\/$/, '') %>/<%= file.name %>" style="color:<%= file.isDirectory ? 'yellow' : 'cyan' %>">
                            <img src="/images/flaticon/<%= file.icon %>" class="link-img"> <%= file.name %>
                        </a>
                    </td>
                    <td class="time" data-timestamp="<%= file.lastModified %>"></td>
                    <td class="size"><%= file.formattedSize %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</main>

<script src="/js/explorer.js"></script>
<script src="/js/mobile.js"></script>

<%- include('../includes/footer.ejs') %>