<%- include('./includes/header.ejs', {
    title: 'Sefinek Blocklists - The best list for your DNS Server',
    meta: {
        desc: 'The largest blocklist collection available for AdGuard and Pi-hole, including over 100 lists and over 6 million domains.',
        tags: 'blocklist, pihole, adguard, ublock origin, links, urls, blacklist, polskie, listy, blokowan, polskie listy pihole, adlisty pihole, generator pihole, pihole blocklist generator, generator listy blokowan',
        siteName: 'Made by Sefinek♥',
        color: '#000103'
    },
    canonical: '',
    subpage: 'home',
    libs: null,
    style: 'index'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1 id="cover-header">Sefinek Blocklists - v<%= version %></h1>
        <div>
            Discover the best blocklists for your DNS server or any other blocking tool. Your first and last stop for reliable lists with minimal false positives.<br>
            Enjoy a safer internet experience by effectively blocking unwanted content or other websites of your choice! Scroll down to learn more about this.
        </div>

        <div>
            <a href="https://sefinek.net/blocklist-generator?referrer=blocklist.sefinek.net" class="button">Blocklist generator</a>
            <a href="#more-info" class="button">Learn more</a>
            <a href="#stats" class="button">Go to Statistics</a>
        </div>

        <div id="icons">
            <a href="https://sefinek.net/donate?referrer=blocklist.sefinek.net" target="_blank" title="Support this project. Every donation will be appreciated."><img src="/images/flaticon/circle.png" alt="Dating icons created by hqrloveq - Flaticon"></a>
            <a href="https://www.youtube.com/watch?v=xfTX8GVw3B8" target="_blank" title="Collection of block lists for Pi-hole with +100 links and +6 million domains - YouTube"><img src="/images/flaticon/youtube.png" alt="YouTube logo (downloaded from flaticon.com)"></a>
            <a href="https://github.com/sefinek/Sefinek-Blocklist-Collection" target="_blank" title="sefinek/Sefinek-Blocklist-Collection"><img src="/images/flaticon/github.png" alt="GitHub logo (downloaded from flaticon.com)"></a>
        </div>

        <!-- git -->

        <!-- <p id="highlight">🌠 NEW! Added support for RPZ format and Unbound.</p> -->
    </header>

    <div id="advertisement">
        Powered by <a href="https://stormserverhosting.com" target="_blank">Storm Server Hosting</a>. <img src="https://cdn.sefinek.net/images/stormserverhosting/logo.png" alt="Storm Server Hosting logo">
    </div>
</div>


<main>
    <div class="container-box" id="more-info">
        <h2>📝 Information</h2>
        <div class="container-text">
            Welcome to Sefinek Blocklists, your premier source for top-quality lists used for DNS servers and beyond. We are committed to providing the most reliable and comprehensive lists that effectively eliminate unwanted ads with minimal false alarms. Our blocklists ensure a safer, more private, and faster internet browsing experience for you.
            <br>
            Say goodbye to false positives and interruptions, and enjoy seamless browsing while safeguarding your privacy!
        </div>
    </div>

    <h2>Okay, but why should I choose Sefinek Blocklists? 🤔</h2>
    <section class="card">
        <div class="card-text">
            <h3>Commitment to Privacy and Quality</h3>
            <p>
                Our blocklists receive continuous support and monitoring to enhance your online experience.
                We go beyond mere ad-blocking, dedicating ourselves to improving your overall browsing satisfaction.
                With our extensive lists, you can confidently explore the web, knowing your data remains secure and your privacy is fortified.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/hand.png" alt="Hand icon from flaticon.com">
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <img src="/images/flaticon/application-control.png" alt="Application control icon from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Whitelists</h3>
            <p>
                We have our own <a href="https://github.com/sefinek/Sefinek-Blocklist-Collection/blob/main/whitelists/main.txt" target="_blank" title="sefinek/Sefinek-Blocklist-Collection/blob/main/whitelists/main.txt">whitelist</a>.
                During each compilation of blocklists, our automated script meticulously removes the specified domains from the whitelist across all compiled files, ensuring compatibility in various formats.
                This process guarantees that essential websites remain accessible. As a result, we have an easy way to eliminate false positives from specified blocklists.
            </p>
        </div>
    </section>

    <section class="card">
        <div class="card-text">
            <h3>Blocklist Generator</h3>
            <p>
                Don't have time to search for blocklists? Use our generator!
                Just choose what you want to block in your network, and the generator will create a ready-to-use collection of URLs for you, which you can use freely and safely.
                The generator is available at <a href="https://sefinek.net/blocklist-generator?referrer=blocklist.sefinek.net">sefinek.net/blocklist-generator</a>.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/checkbox.png" alt="Checkbox icon from flaticon.com">
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <img src="/images/flaticon/various.png" alt="Various icon from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Various Formats</h3>
            <p>
                We offer various formats of blocked domain lists to meet your needs. The available formats are:<br>
                0.0.0.0, 127.0.0.1, No IP, AdGuard, Dnsmasq, Unbound, RPZ.
            </p>
        </div>
    </section>

    <section class="card">
        <div class="card-text">
            <h3>Synchronization and Security Maintenance</h3>
            <p>
                At Sefinek Blocklists, we understand how important it is to keep up with evolving online threats to ensure our blocklists are effective.
                That's why we have created a robust synchronization process.
                Our blocklists are updated every 3 hours in our GitHub repository. This ensures constant access to the latest versions that are not yet ready for production.
                Daily updates are carried out on our main server (blocklist.sefinek.net) at 01:00 and 06:00 (Europe/Warsaw time zone).
                We recommend configuring your DNS to fetch blocklists from blocklist.sefinek.net only at night. This way, you will avoid any issues related to site unavailability or other network interruptions.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/loop.png" alt="Loop icon from flaticon.com">
        </div>
    </section>

    <section class="card">
        <div class="card-img">
            <img src="/images/flaticon/loading-bar.png" alt="Loading bar icon from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Faster Page Loading</h3>
            <p>
                Say goodbye to slow web page loading. Our carefully curated block lists are optimized to reduce page load times.
                By blocking resource-heavy ads and scripts, we ensure a smoother and more efficient browsing experience.
                Enjoy faster page loading, providing you with quick access to desired content without unnecessary delays.
                This makes your web journey fast and seamless. For even greater privacy, consider configuring the <a href="https://www.nlnetlabs.nl/projects/unbound/about" target="_blank">Unbound resolver</a>.
            </p>
        </div>

    </section>

    <section class="card">
        <div class="card-text">
            <h3>Secure and Fast Server, Enhanced by Cloudflare</h3>
            <p>
                Our service is based on a secure and fast server, powered by Cloudflare, a leading content delivery and security network.
                Our priority is the reliability and performance of our blocklists, ensuring quick, uninterrupted updates and a high level of security.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/privacy.png" alt="Privacy icon from flaticon.com">
        </div>
    </section>

    <section class="card" style="margin-bottom:58px">
        <div class="card-img">
            <img src="/images/flaticon/coding.png" alt="Coding icon from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Open Source on GitHub</h3>
            <p>
                We invite developers from all over the world to explore our source code, share their knowledge, and become integral members of a community that values transparency.
                In addition to supporting innovation, we highly value your privacy, ensuring a secure and respectful environment.
                Join us to shape a future where technology and privacy coexist in harmony.
            </p>
        </div>
    </section>


    <article>
        <h2 id="pihole">What is Pi-hole? 🍒</h2>
        <div class="header-text">
            Pi-hole is not only an effective ad-blocking tool but also an intelligent privacy guardian, ensuring the security of your data.
            It operates at the DNS level, which allows it to not only eliminate annoying ads but also protect against activity tracking and potential sources of malware.
            Its ability to intercept unwanted content before it reaches your devices increases both the speed and security of internet usage.
            Additionally, Pi-hole allows for customization of filters and activity monitoring, giving users greater control over what is blocked.
            Using Pi-hole not only enhances the comfort of browsing the internet by eliminating ads but, more importantly, significantly raises the level of privacy and data security.
        </div>
    </article>

    <article>
        <h2 id="adguard">What is AdGuard? ✅</h2>
        <div class="header-text">
            AdGuard takes a comprehensive approach to blocking unwanted content in web browsers and mobile applications, ensuring a seamless user experience.
            It offers easy-to-use products such as browser extensions and mobile apps, available in both free and premium versions.
            In addition to blocking content, AdGuard provides built-in lists and is well-suited for parental control purposes.
            Choosing between Pi-hole and AdGuard depends on your specific needs.
        </div>
    </article>


    <section>
        <h2 style="margin-top:20px" id="stats">Are you ready for stats? 📝</h2>
        <div class="container-stats">
            <div class="card-stats">
                <div class="category-big">All requests</div>
                <div class="stats-content" id="stats-content-total-requests"><%= db.total.toLocaleString() %></div>
            </div>
            <div class="card-stats">
                <div class="category-big">Blocklist requests</div>
                <div class="stats-content" id="stats-content-blocklist-requests"><%= db.blocklists.toLocaleString() %></div>
            </div>
        </div>

        <div class="container-stats">
            <div>
                <div class="category-small">0.0.0.0</div>
                <div class="stats-content" id="stats-content-0000"><%= db.categories['0000']?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">127.0.0.1</div>
                <div class="stats-content" id="stats-content-127001"><%= db.categories['127001']?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">No IP</div>
                <div class="stats-content" id="stats-content-noip"><%= db.categories.noip?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">AdGuard</div>
                <div class="stats-content" id="stats-content-adguard"><%= db.categories.adguard?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">Unbound format</div>
                <div class="stats-content" id="stats-content-unbound"><%= db.categories.unbound?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">Dnsmasq</div>
                <div class="stats-content" id="stats-content-dnsmasq"><%= db.categories.dnsmasq?.toLocaleString() %></div>
            </div>
            <div>
                <div class="category-small">RPZ format</div>
                <div class="stats-content" id="stats-content-rpz"><%= db.categories.rpz?.toLocaleString() %></div>
            </div>
        </div>

        <div class="container-stats">
            <div>
                <div class="category-small">Responses 404</div>
                <div class="stats-content" id="stats-content-404"><%= db.responses['404']?.toLocaleString() || 0 %></div>
            </div>
            <div>
                <div class="category-small">Responses 429</div>
                <div class="stats-content" id="stats-content-429"><%= db.responses['429']?.toLocaleString() || 0 %></div>
            </div>
            <div>
                <div class="category-small">Responses 500</div>
                <div class="stats-content" id="stats-content-500"><%= db.responses['500']?.toLocaleString() || 0 %></div>
            </div>
            <div>
                <div class="category-small">Responses 503</div>
                <div class="stats-content" id="stats-content-503"><%= db.responses['503']?.toLocaleString() || 0 %></div>
            </div>
        </div>

        <div id="stats-footer">
            <code>Statistics have been collected since October 28, 2024 (28.10.2024).</code>
        </div>
    </section>

    <section>
        <h2 style="margin-top:40px">Our Server 🌍</h2>
        <div class="container-stats">
            <div>
                <div>Uptime:</div>
                <code id="stats-content-uptime"><%= uptime %></code>
            </div>
            <div>
                <div>Collection date:</div>
                <code id="stats-content-coll-cAt"><%= new Date(db.createdAt).toISOString() %></code>
            </div>
            <div>
                <div>Last collection update:</div>
                <code id="stats-content-coll-uAt"><%= new Date(db.updatedAt).toISOString() %></code>
            </div>
        </div>
    </section>
</main>

<script src="/js/date.js"></script>
<script>const WEBSOCKET=`<%= process.env.WS_FULL %>`;</script>
<script src="/js/websocket.js"></script>

<%- include('./includes/footer.ejs') %>